/*
=============== 
Variables
===============
*/

:root {
  --slack-white: #fff;
  --slack-black: #1d1d1d;
  --slack-aubergine: #4a154b;
  --slack-blue: #36c5f0;
  --slack-green: #2eb67d;
  --slack-yellow: #ecb22e;
  --slack-red: #e01e5a;
}

* {
  margin: 0;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
